{% extends 'base.html' %}
{% load static %}

{% block links %}
<li><a href="{% url 'homepage' %}">Home</a></li>
<li><a href="{% url 'account:register' %}">Register</a></li>
{% endblock links %}

{% block link %}
<link rel="stylesheet" href="{% static 'CSS/forgotpassword.css' %}">
{% endblock link %}

{% block content %}
<div class="container">
    <h1>Forgot Password</h1>
    <form method="post">
        {% csrf_token %}
        
        <label for="username">Please enter your username</label>
        <input type="text" name="username" required>
        <div class="error">{{ errors }}</div>
        <br>
        
        <input type="submit" value="Send Reset Link">
    </form>
    <br>
    <a href="{% url 'account:login' %}" class="forgot-password">Back to Login</a>
</div>
{% endblock content %}