
#container {
    max-width: 1200px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 20px; 
    overflow: hidden; 
}
#container .balance{
    font-size: 25px;
    color: black;
    text-align: left;
}

table thead {
    background-color: #00796b; 
    color: #fff;
    font-size: 16px;
    text-align: center;
}

table th, table td {
    padding: 12px 10px; 
    border: 1px solid #ddd; 
    font-size: 14px;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

table tbody tr:hover {
    background-color: #e0f7fa; 
}


table td[colspan="7"] {
    text-align: center;
    font-size: 18px;
    color: #ff5722; 
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px; 
    }

    table {
        width: 100%;
        margin: 10px;
    }

    table th, table td {
        font-size: 14px;
        padding: 8px 10px;
    }

    .balance {
        font-size: 16px;
    }
}
